.education-section {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 200px;

    .main-title {
        display: flex;
        align-items: center;
        text-align: center;
    }


    .container {
        position: relative;
        &:not(:last-child){

            margin-bottom: 150px;
        }

        .content-image__path--3,
        .content-image__path--2 {
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
            bottom: -150px;
        }


        .empty-row,
        .educational-qualification {
            flex: 0 0 50%;
            max-width: 100%;
        }


        .educational-qualification {
            padding: 25px;

            .content {
                width: auto;
                background-color: #151030;
                padding: 20px 25px;
                color: white;
                border-radius: 20px;

                .qualification {
                    font-size: 22px;
                    font-weight: 700;
                    color: white;
                }

                .button {
                    outline: none;
                    border: none;
                 
                    font-weight: 600;
                    font-size: 16px;
                    background-color:rgb(255, 187, 0);
                    padding: 2px 10px;
                    border-radius: 4px;
                    margin-bottom: 15px;
                    color: #151030;
                }

                span {
                    display: block;
                    font-weight: 500;
                    font-size: 15px;
                  
                }

                .college {
                 
                    margin-bottom: 15px;
                    font-weight: 500;
                    color: #aaa6c3;
                }

                .skills {
                    h3 {
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 5px;
                        color: white;
                    }

                    li {
                        font-size: 14px;
                        font-weight: 600;
                        color: #aaa6c3;
                    }
                }
            }
        }
    }


}


@media screen and (max-width: 1200px) {
    .education-section {
        .container {

            .empty-row {
                flex: 0 0 40%;



            }

            .educational-qualification {
                flex: 0 0 60%;


            }
        }
    }

}

@media (max-width: 1000px) {
    .education-section {
        .container {

            .empty-row {
                flex: 0 0 20%;

            }

            .educational-qualification {
                flex: 0 0 80%;


            }
        }
    }

}

@media (max-width: 862px) {
    .education-section {
        .container {
            .row:{
                width: 100%;

            }

            .empty-row {
                display: none;


            }

            .educational-qualification {
                padding-left: 0;
                padding-right: 0;
                flex: 0 0 100%;


            }
        }
    }

}

